# Pinned dependencies that cause breakage
Werkzeug==3.1.3
SQLAlchemy==2.0.36

# Runtime dependencies
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1

# Runtime tools
gunicorn==23.0.0
honcho==2.0.0

# Code quality
pylint==3.3.2
flake8==7.1.1
black==24.10.0

# Testing dependencies
pynose==1.5.3  # modern version of nose compatible with python 3.12
pinocchio==0.4.3
factory-boy==3.3.1
coverage==7.6.9
httpie==3.2.4

# Behavior Driven Development
behave==1.2.7.dev6
selenium==4.1.0
compare==0.2b0
requests==2.32.3
